@import "tailwindcss";



body {
  @apply bg-gray-100 text-gray-800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

input,
textarea,
select {
  @apply outline-none;
}

button {
  @apply transition-colors;
}
